# Model with Skills-Have Only

## Import Libraries

In [204]:
import pandas
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

## Transform Employees Datasets

In [205]:
# Read source dataset
df = pandas.read_csv(filepath_or_buffer="data/survey_results_public.csv", sep=",", encoding="latin1")
df

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I donât code outside of work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [206]:
# Select only required columns
df = df[["ResponseId","YearsCodePro","LanguageHaveWorkedWith","LanguageWantToWorkWith","DatabaseHaveWorkedWith","DatabaseWantToWorkWith","PlatformHaveWorkedWith","PlatformWantToWorkWith","WebframeHaveWorkedWith","WebframeWantToWorkWith","MiscTechHaveWorkedWith","MiscTechWantToWorkWith","ToolsTechHaveWorkedWith","ToolsTechWantToWorkWith"]]
df = df.fillna('')
df

,ResponseId,YearsCodePro,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith
0,1,,,,,,,,,,,,,
1,2,,JavaScript;TypeScript,Rust;TypeScript,,,,,,,,,,
2,3,5,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,,,Angular.js,Angular;Angular.js,Pandas,.NET,,
3,4,17,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,,,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,,
4,5,3,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,5,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm
73264,73265,5,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,,,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,,
73265,73266,33,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine
73266,73267,31,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,,,,,,,,,
73267,73268,5,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform

In [207]:
# Join all "HaveWorked" and "WantToWorkWith" columns
df["Skills-Have"] = df["LanguageHaveWorkedWith"] + ";" + df["DatabaseHaveWorkedWith"]+ ";" + df["PlatformHaveWorkedWith"] + ";" + df["WebframeHaveWorkedWith"] + ";" + df["MiscTechHaveWorkedWith"] + ";" + df["ToolsTechHaveWorkedWith"]
df["Skills-Want"] = df["LanguageWantToWorkWith"] + ";" + df["DatabaseWantToWorkWith"]+ ";" + df["PlatformWantToWorkWith"] + ";" + df["WebframeWantToWorkWith"] + ";" + df["MiscTechWantToWorkWith"] + ";" + df["ToolsTechWantToWorkWith"]

# Remove original columns
df = df.drop(columns=["LanguageHaveWorkedWith","LanguageWantToWorkWith","DatabaseHaveWorkedWith","DatabaseWantToWorkWith","PlatformHaveWorkedWith","PlatformWantToWorkWith","WebframeHaveWorkedWith","WebframeWantToWorkWith","MiscTechHaveWorkedWith","MiscTechWantToWorkWith","ToolsTechHaveWorkedWith","ToolsTechWantToWorkWith"])
df

,ResponseId,YearsCodePro,Skills-Have,Skills-Want
0,1,,;;;;;,;;;;;
1,2,,JavaScript;TypeScript;;;;;,Rust;TypeScript;;;;;
2,3,5,C#;C++;HTML/CSS;JavaScript;Python;Microsoft SQ...,C#;C++;HTML/CSS;JavaScript;TypeScript;Microsof...
3,4,17,C#;JavaScript;SQL;TypeScript;Microsoft SQL Ser...,C#;SQL;TypeScript;Microsoft SQL Server;;ASP.NE...
4,5,3,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript;Cl...,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript;Clo...
...,...,...,...,...
73263,73264,5,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript...
73264,73265,5,Bash/Shell;HTML/CSS;JavaScript;Python;SQL;Elas...,HTML/CSS;JavaScript;Python;Elasticsearch;Neo4j...
73265,73266,33,HTML/CSS;JavaScript;PHP;Python;SQL;MariaDB;Mic...,C#;HTML/CSS;JavaScript;PHP;Python;SQL;MariaDB;...
73266,73267,31,C#;Delphi;VBA;Microsoft SQL Server;MongoDB;Ora...,Delphi;;;;;
73267,73268,5,C#;JavaScript;Lua;PowerShell;SQL;TypeScript;Mi...,PowerShell;Rust;TypeScript;Neo4j;Redis;AWS;Goo...

## Get all available Skills and Position Requirements

In [208]:

# Get list of skills - Source: Stack Overflow Survey questions
skills_df = pandas.read_csv(filepath_or_buffer="data/skill-list.csv", sep=",", encoding="latin1")

# Get only Programming Language skills for now
#skills_df = skills_df.loc[skills_df['type'].isin(['Programming Language','Database'])]

# List required skills for the position and level of seniority
requirements = ['Python','Microsoft SQL Server','Microsoft Azure','Apache Spark','Scikit-learn','TensorFlow','Docker']
level_requirement = 'Mid-level'

# Get only selected skills
skills_df = skills_df.loc[skills_df['skill'].isin(requirements)]

skills_df

                    skill                  type
31                 Python  Programming Language
50   Microsoft SQL Server              Database
68        Microsoft Azure        Cloud Platform
100          Apache Spark       Other Framework
113          Scikit-learn       Other Framework
116            TensorFlow       Other Framework
123                Docker       Developer Tools

## Prepare Data to Model

In [209]:

# For each row in the dataset, evaluate if the skill is mentioned or not

# get only the list of skills that are being looked for - then it filters only the relevant skills

skills = skills_df['skill']
for skill in skills:
    df[skill] = df["Skills-Have"].apply(lambda x: 1 if skill in x.split(';') else 0)

# Check if Skill is in the Want list
skills = skills_df['skill']
for skill in skills:
    df[skill+"-Want"] = df["Skills-Want"].apply(lambda x: 1 if skill in x.split(';') else 0)

df['YearsCodePro'] = df['YearsCodePro'].replace(np.nan, 0)
df['YearsCodePro'] = df["YearsCodePro"].apply(lambda x: '0' if x == '' or x == 'Less than 1 year' else x)
df['YearsCodePro'] = df["YearsCodePro"].apply(lambda x: '51' if x == 'More than 50 years' else x)

# Set the level category depending on years of experience
def setLevel(x):
    if int(x) <2:
        return 'Entry-level'
    elif int(x) >= 2 and int(x) <5:
        return 'Mid-level'
    elif int(x) >= 5 and int(x) <10:
        return  'Senior'
    elif int(x) >10:
        return 'Architect'

def setLevelNumber(x):
    if int(x) <2:
        return 3
    elif int(x) >= 2 and int(x) <5:
        return 2
    elif int(x) >= 5 and int(x) <10:
        return  1
    elif int(x) >=10:
        return 0

#df['Level'] = df["YearsCodePro"].apply(setLevel)
df['Level'] = df["YearsCodePro"].apply(setLevelNumber)

#seniority_level = ['Entry-level', 'Mid-level', 'Senior', 'Architect']
#for level in seniority_level:
#    df[level] = df["Level"].apply(lambda x: 1 if x == level else 0)


#seniority_level.remove(level_requirement)

# Leave remove level columns that are not required
#df = df.drop(columns=seniority_level)
#df = df.drop(columns='Level')




### Try to change the logic to use 0,1,2,3 values to reflect better the distance



df

,ResponseId,YearsCodePro,Skills-Have,Skills-Want,Python,Microsoft SQL Server,Microsoft Azure,Apache Spark,Scikit-learn,TensorFlow,Docker,Python-Want,Microsoft SQL Server-Want,Microsoft Azure-Want,Apache Spark-Want,Scikit-learn-Want,TensorFlow-Want,Docker-Want,Level
0,1,0,;;;;;,;;;;;,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
1,2,0,JavaScript;TypeScript;;;;;,Rust;TypeScript;;;;;,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
2,3,5,C#;C++;HTML/CSS;JavaScript;Python;Microsoft SQ...,C#;C++;HTML/CSS;JavaScript;TypeScript;Microsof...,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1
3,4,17,C#;JavaScript;SQL;TypeScript;Microsoft SQL Ser...,C#;SQL;TypeScript;Microsoft SQL Server;;ASP.NE...,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
4,5,3,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript;Cl...,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript;Clo...,0,1,1,0,0,0,0,0,0,1,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,5,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript...,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1
73264,73265,5,Bash/Shell;HTML/CSS;JavaScript;Python;SQL;Elas...,HTML/CSS;JavaScript;Python;Elasticsearch;Neo4j...,1,0,0,0,1,1,0,1,0,0,0,0,0,0,1
73265,73266,33,HTML/CSS;JavaScript;PHP;Python;SQL;MariaDB;Mic...,C#;HTML/CSS;JavaScript;PHP;Python;SQL;MariaDB;...,1,1,1,0,0,0,0,1,1,1,0,0,0,0,0
73266,73267,31,C#;Delphi;VBA;Microsoft SQL Server;MongoDB;Ora...,Delphi;;;;;,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
73267,73268,5,C#;JavaScript;Lua;PowerShell;SQL;TypeScript;Mi...,PowerShell;Rust;TypeScript;Neo4j;Redis;AWS;Goo...,0,1,1,1,0,0,1,0,0,1,0,0,0,1,1

In [210]:
# Get a sample of the rows
df = df.sample(1000)
df

,ResponseId,YearsCodePro,Skills-Have,Skills-Want,Python,Microsoft SQL Server,Microsoft Azure,Apache Spark,Scikit-learn,TensorFlow,Docker,Python-Want,Microsoft SQL Server-Want,Microsoft Azure-Want,Apache Spark-Want,Scikit-learn-Want,TensorFlow-Want,Docker-Want,Level
47117,47118,6,C#;Java;Python;Microsoft SQL Server;;Django;Re...,C#;C++;Go;Java;JavaScript;Python;Elasticsearch...,1,1,0,0,0,1,1,1,1,0,0,0,1,1,1
68873,68874,0,HTML/CSS;JavaScript;Python;VBA;MySQL;Firebase ...,C;HTML/CSS;JavaScript;Python;Swift;MongoDB;MyS...,1,0,0,0,0,0,0,1,0,1,0,1,0,0,3
25171,25172,0,Assembly;Bash/Shell;C#;HTML/CSS;Java;JavaScrip...,C#;F#;PowerShell;SQL;Cassandra;Elasticsearch;P...,1,0,0,0,0,0,1,0,0,0,0,0,1,1,3
64323,64324,0,;;;;;,;;;;;,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
72819,72820,20,C#;HTML/CSS;JavaScript;SQL;Microsoft SQL Serve...,Objective-C;PowerShell;Python;TypeScript;Mongo...,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40853,40854,0,Dart;HTML/CSS;Java;JavaScript;Kotlin;Lua;Power...,HTML/CSS;Java;Kotlin;PowerShell;Python;Firebas...,1,0,0,0,0,0,0,1,0,1,0,0,0,0,3
51702,51703,9,Clojure;HTML/CSS;LISP;PostgreSQL;AWS;React.js;...,Clojure;HTML/CSS;LISP;Elasticsearch;PostgreSQL...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1
68727,68728,0,Python;;AWS;FastAPI;NumPy;TensorFlow;Torch/PyT...,Python;;AWS;FastAPI;NumPy;Torch/PyTorch;,1,0,0,0,0,1,0,1,0,0,0,0,0,0,3
44098,44099,13,Bash/Shell;Go;Java;JavaScript;Python;SQL;TypeS...,;;;;;,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
58287,58288,8,JavaScript;Ruby;SQL;Elasticsearch;PostgreSQL;R...,Go;JavaScript;Ruby;TypeScript;Elasticsearch;Po...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1

## KMeans to clusterize Employees

In [211]:
# Group people into clusters
number_clusters = df.drop(columns=["ResponseId","YearsCodePro","Skills-Have","Skills-Want"]).drop_duplicates().count()[0]
number_clusters
model = KMeans(n_clusters=number_clusters, random_state=42).fit(df.drop(columns=["ResponseId","YearsCodePro","Skills-Have","Skills-Want"]))
clusters = model.labels_
center = model.cluster_centers_

df
df_clusters = df
df_clusters["cluster"] = clusters
df_clusters

,ResponseId,YearsCodePro,Skills-Have,Skills-Want,Python,Microsoft SQL Server,Microsoft Azure,Apache Spark,Scikit-learn,TensorFlow,Docker,Python-Want,Microsoft SQL Server-Want,Microsoft Azure-Want,Apache Spark-Want,Scikit-learn-Want,TensorFlow-Want,Docker-Want,Level,cluster
47117,47118,6,C#;Java;Python;Microsoft SQL Server;;Django;Re...,C#;C++;Go;Java;JavaScript;Python;Elasticsearch...,1,1,0,0,0,1,1,1,1,0,0,0,1,1,1,64
68873,68874,0,HTML/CSS;JavaScript;Python;VBA;MySQL;Firebase ...,C;HTML/CSS;JavaScript;Python;Swift;MongoDB;MyS...,1,0,0,0,0,0,0,1,0,1,0,1,0,0,3,248
25171,25172,0,Assembly;Bash/Shell;C#;HTML/CSS;Java;JavaScrip...,C#;F#;PowerShell;SQL;Cassandra;Elasticsearch;P...,1,0,0,0,0,0,1,0,0,0,0,0,1,1,3,113
64323,64324,0,;;;;;,;;;;;,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,11
72819,72820,20,C#;HTML/CSS;JavaScript;SQL;Microsoft SQL Serve...,Objective-C;PowerShell;Python;TypeScript;Mongo...,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40853,40854,0,Dart;HTML/CSS;Java;JavaScript;Kotlin;Lua;Power...,HTML/CSS;Java;Kotlin;PowerShell;Python;Firebas...,1,0,0,0,0,0,0,1,0,1,0,0,0,0,3,385
51702,51703,9,Clojure;HTML/CSS;LISP;PostgreSQL;AWS;React.js;...,Clojure;HTML/CSS;LISP;Elasticsearch;PostgreSQL...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,26
68727,68728,0,Python;;AWS;FastAPI;NumPy;TensorFlow;Torch/PyT...,Python;;AWS;FastAPI;NumPy;Torch/PyTorch;,1,0,0,0,0,1,0,1,0,0,0,0,0,0,3,398
44098,44099,13,Bash/Shell;Go;Java;JavaScript;Python;SQL;TypeS...,;;;;;,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,16
58287,58288,8,JavaScript;Ruby;SQL;Elasticsearch;PostgreSQL;R...,Go;JavaScript;Ruby;TypeScript;Elasticsearch;Po...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,26

In [212]:
#print(df_clusters.drop(columns=["ResponseId","YearsCodePro","Skills-Have","Skills-Want"]).drop_duplicates().count())
#print(df_clusters['cluster'].max())

employees_df = df_clusters.drop(columns=["YearsCodePro","Skills-Have","Skills-Want"]).sort_values("cluster")
employees_df

,ResponseId,Python,Microsoft SQL Server,Microsoft Azure,Apache Spark,Scikit-learn,TensorFlow,Docker,Python-Want,Microsoft SQL Server-Want,Microsoft Azure-Want,Apache Spark-Want,Scikit-learn-Want,TensorFlow-Want,Docker-Want,Level,cluster
68211,68212,1,0,0,0,0,0,0,1,0,0,0,1,0,1,3,0
25117,25118,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
10327,10328,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
20260,20261,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
22552,22553,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63234,63235,1,0,0,0,1,1,1,1,0,0,0,1,0,1,0,409
58835,58836,0,1,1,0,0,0,1,1,0,0,0,0,0,0,2,410
53905,53906,0,0,1,0,0,0,1,1,0,1,0,0,0,1,0,411
39072,39073,1,0,1,0,0,0,1,1,0,0,0,0,0,0,0,412
3936,3937,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,413

## KNN to find the Best Matches

In [213]:
# Find the one employee cluster closer to the requirement
knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(employees_df.drop(columns=["ResponseId","cluster"]), employees_df['cluster'])

#size = len(requirements)*2
#size
position = np.ones(shape=(1, 1+len(requirements)*2))

if level_requirement == 'Entry-level':
    level_requirement = 3
elif level_requirement == 'Mid-level':
    level_requirement = 2
elif level_requirement == 'Senior':
    level_requirement = 1
elif level_requirement == 'Architect':
    level_requirement = 0

position[0][len(requirements)*2] = level_requirement

prediction = knn.predict(position)

prediction

array([88], dtype=int32)

## Get list of the matched Employees

In [214]:
# Employee found in the match
employees_df.loc[employees_df['cluster'] == prediction[0]]

,ResponseId,Python,Microsoft SQL Server,Microsoft Azure,Apache Spark,Scikit-learn,TensorFlow,Docker,Python-Want,Microsoft SQL Server-Want,Microsoft Azure-Want,Apache Spark-Want,Scikit-learn-Want,TensorFlow-Want,Docker-Want,Level,cluster
10754,10755,1,1,1,1,1,1,1,1,0,1,1,1,1,1,2,88

In [215]:
# Confirm if there is any perfect match
employees_df.loc[employees_df['Python'] == 1].loc[employees_df['Microsoft SQL Server'] == 1].loc[employees_df['Microsoft Azure'] == 1].loc[employees_df['Apache Spark'] == 1].loc[employees_df['Scikit-learn'] == 1].loc[employees_df['TensorFlow'] == 1].loc[employees_df['Docker'] == 1]

,ResponseId,Python,Microsoft SQL Server,Microsoft Azure,Apache Spark,Scikit-learn,TensorFlow,Docker,Python-Want,Microsoft SQL Server-Want,Microsoft Azure-Want,Apache Spark-Want,Scikit-learn-Want,TensorFlow-Want,Docker-Want,Level,cluster
10754,10755,1,1,1,1,1,1,1,1,0,1,1,1,1,1,2,88
11970,11971,1,1,1,1,1,1,1,1,1,0,1,0,1,1,3,154

In [156]:
# Check information for each employee considered
import pandas
df_original = pandas.read_csv(filepath_or_buffer="data/survey_results_public.csv", sep=",", encoding="latin1")
df_original = df_original[["ResponseId","YearsCodePro","LanguageHaveWorkedWith","LanguageWantToWorkWith","DatabaseHaveWorkedWith","DatabaseWantToWorkWith","PlatformHaveWorkedWith","PlatformWantToWorkWith","WebframeHaveWorkedWith","WebframeWantToWorkWith","MiscTechHaveWorkedWith","MiscTechWantToWorkWith","ToolsTechHaveWorkedWith","ToolsTechWantToWorkWith"]]

df_original.loc[df_original['ResponseId'] == 31191]

,ResponseId,YearsCodePro,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith
31190,31191,Less than 1 year,APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL...,APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL...,Cassandra;Couchbase;CouchDB;Cloud Firestore;Dy...,Cassandra;Couchbase;CouchDB;Cloud Firestore;Dy...,AWS;Colocation;DigitalOcean;Firebase;Google Cl...,AWS;Colocation;DigitalOcean;Firebase;Google Cl...,Angular;Angular.js;ASP.NET;ASP.NET Core ;Blazo...,Angular;Angular.js;ASP.NET;ASP.NET Core ;Blazo...,.NET;Apache Kafka;Apache Spark;Capacitor;Cordo...,.NET;Apache Kafka;Apache Spark;Capacitor;Cordo...,Ansible;Chef;Docker;Flow;Homebrew;Kubernetes;n...,Ansible;Chef;Docker;Flow;Homebrew;Kubernetes;n...