# Models for Rating

One single word embedding model is used for modelling the similarity score for skills and interests.
A score is calculated from each Word Mover's Distance computed and a final score is calculated as a weighted combination of all scores.

## Import Libraries

In [1437]:
import pandas as pd
from gensim.models import Word2Vec
import numpy as np

# Enter Person's Profile

In [1438]:
# Get the person's profile
person_id = 19

# Manual setting
#person_skills = ['Python', 'Microsoft SQL Server', 'Microsoft Azure']
#person_interests = ['Python']
#person_experience = 5 # years

# Get the profile from the collected data from the survey
employee = pd.read_csv(filepath_or_buffer="../2-data/survey_people.csv", sep=",", encoding="latin1")
employee = employee[employee['id']==person_id]
person_skills = employee['skills'].values[0].split(';')
person_interests = employee['skills-want'].values[0].split(';')

# Define ranges for each level of experience
bin_edges = [-1, 2, 5, 10, 50]

# Define the labels for each level of experience
labels = ['Junior', 'Associate', 'Senior', 'Architect']

# Convert the 'years' column to categorical levels of experience
employee['YearsCodePro'] = pd.cut(pd.to_numeric(employee['YearsCodePro']), bins=bin_edges, labels=labels)

person_experience = employee['YearsCodePro'].values[0]

print(person_id)
print(person_skills)
print(person_interests)
print(person_experience)

19
['MATLAB', 'Python', 'SQL', 'Microsoft SQL Server', 'Google Cloud', 'Microsoft Azure']
['SQL', 'Microsoft Azure']
Junior

# Load Survey Roles Dataset

In [1439]:
# Read the roles collected from the survey
df_roles = pd.read_csv(filepath_or_buffer="../2-data/survey_roles.csv", sep=",", encoding="latin1")

# Tokenize the skills
df_roles['skills'] = df_roles['skills'].apply(lambda x: str(x).split(';'))

df_roles = df_roles[['id', 'skills', 'explevel', 'name']]
df_roles = df_roles.dropna()

df_roles

,id,skills,explevel,name
0,11,"[Bash/Shell, PowerShell, Python, R, SQL, Micro...",Senior,Data Engineer
1,12,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Associate,DevOps Engineer
2,13,"[HTML/CSS, JavaScript, Python, SQL, MySQL, Pos...",Associate,Full Stack Developer
3,14,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Senior,Database Administrator
4,15,"[Python, R, Scala, SQL, MongoDB, MySQL, AWS, G...",Senior,Data Scientist
5,21,"[C#, Kotlin, Python, SQL, PostgreSQL, .NET, Ap...",Associate,Software Engineer
6,22,"[JavaScript, PostgreSQL, jQuery, React.js, Rea...",Associate,Software Engineer - Frontend
7,23,"[HTML/CSS, JavaScript, PostgreSQL, Angular.js,...",Senior,Senior Software Engineer - Frontend
8,24,"[C#, Kotlin, Python, Rust, Microsoft SQL Serve...",Senior,Senior Software Engineer
9,25,"[C#, Java, JavaScript, Kotlin, Python, Rust, S...",Architect,Software Architect
10,31,"[Clojure, Go, Java, Python, Microsoft SQL Serv...",Senior,Development manager
11,32,"[Java, JavaScript, Objective-C, SQL, Swift, VB...",Senior,Support Team Manager
12,33,"[C#, Java, JavaScript, Objective-C, SQL, Swift...",Senior,Support Engineer
13,34,"[C#, HTML/CSS, Java, SQL, Microsoft SQL Server...",Junior,Support Engineer
14,35,"[C, C++, Go, Java, JavaScript, Kotlin, SQL, Sw...",Senior,Senior Developer
15,41,"[C#, PowerShell, Python, SQL, Cassandra, Maria...",Associate,Data engineer
16,42,"[Kotlin, Python, R, SQL, Cassandra, Elasticsea...",Associate,Data scientist
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer

# Load the Word Embedding Model

In [1440]:
model = Word2Vec.load("../3-word_embedding/model-w2vcombinedfiltered")

# Compute Similarity Scores

In [1441]:
# Normalize scores
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

## Score from Skills

In [1442]:
# Calculate the distance between the person's skills and each role skills
similarity_scores = []
for skills in df_roles['skills']:
    similarity_scores.append(model.wv.wmdistance(person_skills, skills))

# Add the dissimilarity score to each role
df_roles['similarity_score_skills'] = similarity_scores

# Get the highest distance before inf
df_temp = df_roles.loc[(df_roles['similarity_score_skills'] < np.inf)]
max_score = df_temp['similarity_score_skills'].max()
print(max_score)

# Replace rows where the score is inf - meaning there is no similarity
df_roles['similarity_score_skills'] = df_roles['similarity_score_skills'].replace(np.inf, max_score)

# Normalize scores and convert distance to similarity - 0 = more dissimilar, 1 = more similar
df_roles['similarity_score_skills'] = 1 - scaler.fit_transform(df_roles[['similarity_score_skills']])

# Sort the roles by similarity score
df_roles = df_roles.sort_values(by=['similarity_score_skills'], ascending=False)

df_roles

0.6766020696024676

,id,skills,explevel,name,similarity_score_skills
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer,1.000000
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer,0.724982
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer,0.699003
0,11,"[Bash/Shell, PowerShell, Python, R, SQL, Micro...",Senior,Data Engineer,0.499424
15,41,"[C#, PowerShell, Python, SQL, Cassandra, Maria...",Associate,Data engineer,0.467757
1,12,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Associate,DevOps Engineer,0.439763
3,14,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Senior,Database Administrator,0.415810
8,24,"[C#, Kotlin, Python, Rust, Microsoft SQL Serve...",Senior,Senior Software Engineer,0.346037
16,42,"[Kotlin, Python, R, SQL, Cassandra, Elasticsea...",Associate,Data scientist,0.343501
4,15,"[Python, R, Scala, SQL, MongoDB, MySQL, AWS, G...",Senior,Data Scientist,0.326729
5,21,"[C#, Kotlin, Python, SQL, PostgreSQL, .NET, Ap...",Associate,Software Engineer,0.276853
2,13,"[HTML/CSS, JavaScript, Python, SQL, MySQL, Pos...",Associate,Full Stack Developer,0.266455
9,25,"[C#, Java, JavaScript, Kotlin, Python, Rust, S...",Architect,Software Architect,0.218422
13,34,"[C#, HTML/CSS, Java, SQL, Microsoft SQL Server...",Junior,Support Engineer,0.201344
10,31,"[Clojure, Go, Java, Python, Microsoft SQL Serv...",Senior,Development manager,0.185235
14,35,"[C, C++, Go, Java, JavaScript, Kotlin, SQL, Sw...",Senior,Senior Developer,0.145559
11,32,"[Java, JavaScript, Objective-C, SQL, Swift, VB...",Senior,Support Team Manager,0.136867
12,33,"[C#, Java, JavaScript, Objective-C, SQL, Swift...",Senior,Support Engineer,0.110465
6,22,"[JavaScript, PostgreSQL, jQuery, React.js, Rea...",Associate,Software Engineer - Frontend,0.005179
7,23,"[HTML/CSS, JavaScript, PostgreSQL, Angular.js,...",Senior,Senior Software Engineer - Frontend,0.000000

## Score from Interests

In [1443]:
# Calculate the similarity between the person's skills and each role skills
similarity_scores = []
for skills in df_roles['skills']:
    similarity_scores.append(model.wv.wmdistance(person_interests, skills))

# Add the similarity scores to each role
df_roles['similarity_score_interests'] = similarity_scores

# Get the highest distance before inf
df_temp = df_roles.loc[(df_roles['similarity_score_interests'] < np.inf)]
max_score = df_temp['similarity_score_interests'].max()
print(max_score)

# Replace rows where the score is inf - meaning there is no similarity
df_roles['similarity_score_interests'] = df_roles['similarity_score_interests'].replace(np.inf, max_score)

# Normalize scores and convert distance to similarity - 0 = more dissimilar, 1 = more similar
df_roles['similarity_score_interests'] =  1 - scaler.fit_transform(df_roles[['similarity_score_interests']])

# Sort the roles by similarity score
df_roles = df_roles.sort_values(by=['similarity_score_interests'], ascending=False)

df_roles

0.6747590105645208

,id,skills,explevel,name,similarity_score_skills,similarity_score_interests
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer,0.724982,1.000000e+00
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer,1.000000,9.559693e-01
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer,0.699003,5.978984e-01
1,12,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Associate,DevOps Engineer,0.439763,4.010676e-01
3,14,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Senior,Database Administrator,0.415810,3.642856e-01
15,41,"[C#, PowerShell, Python, SQL, Cassandra, Maria...",Associate,Data engineer,0.467757,2.768181e-01
0,11,"[Bash/Shell, PowerShell, Python, R, SQL, Micro...",Senior,Data Engineer,0.499424,2.762548e-01
16,42,"[Kotlin, Python, R, SQL, Cassandra, Elasticsea...",Associate,Data scientist,0.343501,1.980593e-01
2,13,"[HTML/CSS, JavaScript, Python, SQL, MySQL, Pos...",Associate,Full Stack Developer,0.266455,1.820950e-01
5,21,"[C#, Kotlin, Python, SQL, PostgreSQL, .NET, Ap...",Associate,Software Engineer,0.276853,1.612028e-01
4,15,"[Python, R, Scala, SQL, MongoDB, MySQL, AWS, G...",Senior,Data Scientist,0.326729,1.139578e-01
9,25,"[C#, Java, JavaScript, Kotlin, Python, Rust, S...",Architect,Software Architect,0.218422,1.011751e-01
8,24,"[C#, Kotlin, Python, Rust, Microsoft SQL Serve...",Senior,Senior Software Engineer,0.346037,7.257246e-02
13,34,"[C#, HTML/CSS, Java, SQL, Microsoft SQL Server...",Junior,Support Engineer,0.201344,5.946038e-02
14,35,"[C, C++, Go, Java, JavaScript, Kotlin, SQL, Sw...",Senior,Senior Developer,0.145559,4.362350e-02
11,32,"[Java, JavaScript, Objective-C, SQL, Swift, VB...",Senior,Support Team Manager,0.136867,3.856982e-02
6,22,"[JavaScript, PostgreSQL, jQuery, React.js, Rea...",Associate,Software Engineer - Frontend,0.005179,3.202248e-02
7,23,"[HTML/CSS, JavaScript, PostgreSQL, Angular.js,...",Senior,Senior Software Engineer - Frontend,0.000000,1.469267e-02
10,31,"[Clojure, Go, Java, Python, Microsoft SQL Serv...",Senior,Development manager,0.185235,4.264316e-03
12,33,"[C#, Java, JavaScript, Objective-C, SQL, Swift...",Senior,Support Engineer,0.110465,2.220446e-16

## Score from Experience

In [1444]:
from scipy.spatial.distance import euclidean

# Define a function to compute the similarity score
def similarity(level1, level2):
    # Define the vectors representing the levels of experience
    levels = {'Junior': [0, 0, 0, 0],
              'Associate': [1, 0, 0, 0],
              'Senior': [1, 1, 0, 0],
              'Architect': [1, 1, 1, 0]}
    
    # Compute the Euclidean distance between the two vectors
    distance = euclidean(levels[level1], levels[level2])
    
    # Return the similarity metric
    return 1 / (1 + distance)

# Compute the similarity based on level
df_roles['similarity_score_experience'] = df_roles["explevel"].apply(lambda x: similarity(person_experience, x))
df_roles

,id,skills,explevel,name,similarity_score_skills,similarity_score_interests,similarity_score_experience
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer,0.724982,1.000000e+00,1.000000
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer,1.000000,9.559693e-01,1.000000
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer,0.699003,5.978984e-01,0.500000
1,12,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Associate,DevOps Engineer,0.439763,4.010676e-01,0.500000
3,14,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Senior,Database Administrator,0.415810,3.642856e-01,0.414214
15,41,"[C#, PowerShell, Python, SQL, Cassandra, Maria...",Associate,Data engineer,0.467757,2.768181e-01,0.500000
0,11,"[Bash/Shell, PowerShell, Python, R, SQL, Micro...",Senior,Data Engineer,0.499424,2.762548e-01,0.414214
16,42,"[Kotlin, Python, R, SQL, Cassandra, Elasticsea...",Associate,Data scientist,0.343501,1.980593e-01,0.500000
2,13,"[HTML/CSS, JavaScript, Python, SQL, MySQL, Pos...",Associate,Full Stack Developer,0.266455,1.820950e-01,0.500000
5,21,"[C#, Kotlin, Python, SQL, PostgreSQL, .NET, Ap...",Associate,Software Engineer,0.276853,1.612028e-01,0.500000
4,15,"[Python, R, Scala, SQL, MongoDB, MySQL, AWS, G...",Senior,Data Scientist,0.326729,1.139578e-01,0.414214
9,25,"[C#, Java, JavaScript, Kotlin, Python, Rust, S...",Architect,Software Architect,0.218422,1.011751e-01,0.366025
8,24,"[C#, Kotlin, Python, Rust, Microsoft SQL Serve...",Senior,Senior Software Engineer,0.346037,7.257246e-02,0.414214
13,34,"[C#, HTML/CSS, Java, SQL, Microsoft SQL Server...",Junior,Support Engineer,0.201344,5.946038e-02,1.000000
14,35,"[C, C++, Go, Java, JavaScript, Kotlin, SQL, Sw...",Senior,Senior Developer,0.145559,4.362350e-02,0.414214
11,32,"[Java, JavaScript, Objective-C, SQL, Swift, VB...",Senior,Support Team Manager,0.136867,3.856982e-02,0.414214
6,22,"[JavaScript, PostgreSQL, jQuery, React.js, Rea...",Associate,Software Engineer - Frontend,0.005179,3.202248e-02,0.500000
7,23,"[HTML/CSS, JavaScript, PostgreSQL, Angular.js,...",Senior,Senior Software Engineer - Frontend,0.000000,1.469267e-02,0.414214
10,31,"[Clojure, Go, Java, Python, Microsoft SQL Serv...",Senior,Development manager,0.185235,4.264316e-03,0.414214
12,33,"[C#, Java, JavaScript, Objective-C, SQL, Swift...",Senior,Support Engineer,0.110465,2.220446e-16,0.414214

# Add Results from all 3 Models

## Model 1 - Compute Final Score

In [1445]:
# Set weights
weight_skills = 0.8
weight_interests = 0
weight_experience = 0.2

# Calculate final score
df_roles['score-model1'] = df_roles['similarity_score_skills'] * weight_skills + df_roles['similarity_score_interests'] * weight_interests + df_roles['similarity_score_experience'] * weight_experience

df_roles

,id,skills,explevel,name,similarity_score_skills,similarity_score_interests,similarity_score_experience,score-model1
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer,0.724982,1.000000e+00,1.000000,0.779986
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer,1.000000,9.559693e-01,1.000000,1.000000
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer,0.699003,5.978984e-01,0.500000,0.659203
1,12,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Associate,DevOps Engineer,0.439763,4.010676e-01,0.500000,0.451810
3,14,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Senior,Database Administrator,0.415810,3.642856e-01,0.414214,0.415491
15,41,"[C#, PowerShell, Python, SQL, Cassandra, Maria...",Associate,Data engineer,0.467757,2.768181e-01,0.500000,0.474206
0,11,"[Bash/Shell, PowerShell, Python, R, SQL, Micro...",Senior,Data Engineer,0.499424,2.762548e-01,0.414214,0.482382
16,42,"[Kotlin, Python, R, SQL, Cassandra, Elasticsea...",Associate,Data scientist,0.343501,1.980593e-01,0.500000,0.374801
2,13,"[HTML/CSS, JavaScript, Python, SQL, MySQL, Pos...",Associate,Full Stack Developer,0.266455,1.820950e-01,0.500000,0.313164
5,21,"[C#, Kotlin, Python, SQL, PostgreSQL, .NET, Ap...",Associate,Software Engineer,0.276853,1.612028e-01,0.500000,0.321483
4,15,"[Python, R, Scala, SQL, MongoDB, MySQL, AWS, G...",Senior,Data Scientist,0.326729,1.139578e-01,0.414214,0.344226
9,25,"[C#, Java, JavaScript, Kotlin, Python, Rust, S...",Architect,Software Architect,0.218422,1.011751e-01,0.366025,0.247942
8,24,"[C#, Kotlin, Python, Rust, Microsoft SQL Serve...",Senior,Senior Software Engineer,0.346037,7.257246e-02,0.414214,0.359672
13,34,"[C#, HTML/CSS, Java, SQL, Microsoft SQL Server...",Junior,Support Engineer,0.201344,5.946038e-02,1.000000,0.361075
14,35,"[C, C++, Go, Java, JavaScript, Kotlin, SQL, Sw...",Senior,Senior Developer,0.145559,4.362350e-02,0.414214,0.199290
11,32,"[Java, JavaScript, Objective-C, SQL, Swift, VB...",Senior,Support Team Manager,0.136867,3.856982e-02,0.414214,0.192336
6,22,"[JavaScript, PostgreSQL, jQuery, React.js, Rea...",Associate,Software Engineer - Frontend,0.005179,3.202248e-02,0.500000,0.104143
7,23,"[HTML/CSS, JavaScript, PostgreSQL, Angular.js,...",Senior,Senior Software Engineer - Frontend,0.000000,1.469267e-02,0.414214,0.082843
10,31,"[Clojure, Go, Java, Python, Microsoft SQL Serv...",Senior,Development manager,0.185235,4.264316e-03,0.414214,0.231030
12,33,"[C#, Java, JavaScript, Objective-C, SQL, Swift...",Senior,Support Engineer,0.110465,2.220446e-16,0.414214,0.171215

## Model 2 - Compute final score

In [1446]:
# Set weights
weight_skills = 0.4
weight_interests = 0.4
weight_experience = 0.2

# Calculate final score
df_roles['score-model2'] = df_roles['similarity_score_skills'] * weight_skills + df_roles['similarity_score_interests'] * weight_interests + df_roles['similarity_score_experience'] * weight_experience

df_roles

,id,skills,explevel,name,similarity_score_skills,similarity_score_interests,similarity_score_experience,score-model1,score-model2
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer,0.724982,1.000000e+00,1.000000,0.779986,0.889993
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer,1.000000,9.559693e-01,1.000000,1.000000,0.982388
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer,0.699003,5.978984e-01,0.500000,0.659203,0.618761
1,12,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Associate,DevOps Engineer,0.439763,4.010676e-01,0.500000,0.451810,0.436332
3,14,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Senior,Database Administrator,0.415810,3.642856e-01,0.414214,0.415491,0.394881
15,41,"[C#, PowerShell, Python, SQL, Cassandra, Maria...",Associate,Data engineer,0.467757,2.768181e-01,0.500000,0.474206,0.397830
0,11,"[Bash/Shell, PowerShell, Python, R, SQL, Micro...",Senior,Data Engineer,0.499424,2.762548e-01,0.414214,0.482382,0.393114
16,42,"[Kotlin, Python, R, SQL, Cassandra, Elasticsea...",Associate,Data scientist,0.343501,1.980593e-01,0.500000,0.374801,0.316624
2,13,"[HTML/CSS, JavaScript, Python, SQL, MySQL, Pos...",Associate,Full Stack Developer,0.266455,1.820950e-01,0.500000,0.313164,0.279420
5,21,"[C#, Kotlin, Python, SQL, PostgreSQL, .NET, Ap...",Associate,Software Engineer,0.276853,1.612028e-01,0.500000,0.321483,0.275223
4,15,"[Python, R, Scala, SQL, MongoDB, MySQL, AWS, G...",Senior,Data Scientist,0.326729,1.139578e-01,0.414214,0.344226,0.259118
9,25,"[C#, Java, JavaScript, Kotlin, Python, Rust, S...",Architect,Software Architect,0.218422,1.011751e-01,0.366025,0.247942,0.201044
8,24,"[C#, Kotlin, Python, Rust, Microsoft SQL Serve...",Senior,Senior Software Engineer,0.346037,7.257246e-02,0.414214,0.359672,0.250287
13,34,"[C#, HTML/CSS, Java, SQL, Microsoft SQL Server...",Junior,Support Engineer,0.201344,5.946038e-02,1.000000,0.361075,0.304322
14,35,"[C, C++, Go, Java, JavaScript, Kotlin, SQL, Sw...",Senior,Senior Developer,0.145559,4.362350e-02,0.414214,0.199290,0.158516
11,32,"[Java, JavaScript, Objective-C, SQL, Swift, VB...",Senior,Support Team Manager,0.136867,3.856982e-02,0.414214,0.192336,0.153017
6,22,"[JavaScript, PostgreSQL, jQuery, React.js, Rea...",Associate,Software Engineer - Frontend,0.005179,3.202248e-02,0.500000,0.104143,0.114880
7,23,"[HTML/CSS, JavaScript, PostgreSQL, Angular.js,...",Senior,Senior Software Engineer - Frontend,0.000000,1.469267e-02,0.414214,0.082843,0.088720
10,31,"[Clojure, Go, Java, Python, Microsoft SQL Serv...",Senior,Development manager,0.185235,4.264316e-03,0.414214,0.231030,0.158642
12,33,"[C#, Java, JavaScript, Objective-C, SQL, Swift...",Senior,Support Engineer,0.110465,2.220446e-16,0.414214,0.171215,0.127029

## Model 3 - Compute Final Score

In [1447]:
# Set weights
weight_skills = 0
weight_interests = 0.8
weight_experience = 0.2

# Calculate final score
df_roles['score-model3'] = df_roles['similarity_score_skills'] * weight_skills + df_roles['similarity_score_interests'] * weight_interests + df_roles['similarity_score_experience'] * weight_experience

df_roles

,id,skills,explevel,name,similarity_score_skills,similarity_score_interests,similarity_score_experience,score-model1,score-model2,score-model3
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer,0.724982,1.000000e+00,1.000000,0.779986,0.889993,1.000000
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer,1.000000,9.559693e-01,1.000000,1.000000,0.982388,0.964775
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer,0.699003,5.978984e-01,0.500000,0.659203,0.618761,0.578319
1,12,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Associate,DevOps Engineer,0.439763,4.010676e-01,0.500000,0.451810,0.436332,0.420854
3,14,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Senior,Database Administrator,0.415810,3.642856e-01,0.414214,0.415491,0.394881,0.374271
15,41,"[C#, PowerShell, Python, SQL, Cassandra, Maria...",Associate,Data engineer,0.467757,2.768181e-01,0.500000,0.474206,0.397830,0.321454
0,11,"[Bash/Shell, PowerShell, Python, R, SQL, Micro...",Senior,Data Engineer,0.499424,2.762548e-01,0.414214,0.482382,0.393114,0.303847
16,42,"[Kotlin, Python, R, SQL, Cassandra, Elasticsea...",Associate,Data scientist,0.343501,1.980593e-01,0.500000,0.374801,0.316624,0.258447
2,13,"[HTML/CSS, JavaScript, Python, SQL, MySQL, Pos...",Associate,Full Stack Developer,0.266455,1.820950e-01,0.500000,0.313164,0.279420,0.245676
5,21,"[C#, Kotlin, Python, SQL, PostgreSQL, .NET, Ap...",Associate,Software Engineer,0.276853,1.612028e-01,0.500000,0.321483,0.275223,0.228962
4,15,"[Python, R, Scala, SQL, MongoDB, MySQL, AWS, G...",Senior,Data Scientist,0.326729,1.139578e-01,0.414214,0.344226,0.259118,0.174009
9,25,"[C#, Java, JavaScript, Kotlin, Python, Rust, S...",Architect,Software Architect,0.218422,1.011751e-01,0.366025,0.247942,0.201044,0.154145
8,24,"[C#, Kotlin, Python, Rust, Microsoft SQL Serve...",Senior,Senior Software Engineer,0.346037,7.257246e-02,0.414214,0.359672,0.250287,0.140901
13,34,"[C#, HTML/CSS, Java, SQL, Microsoft SQL Server...",Junior,Support Engineer,0.201344,5.946038e-02,1.000000,0.361075,0.304322,0.247568
14,35,"[C, C++, Go, Java, JavaScript, Kotlin, SQL, Sw...",Senior,Senior Developer,0.145559,4.362350e-02,0.414214,0.199290,0.158516,0.117742
11,32,"[Java, JavaScript, Objective-C, SQL, Swift, VB...",Senior,Support Team Manager,0.136867,3.856982e-02,0.414214,0.192336,0.153017,0.113699
6,22,"[JavaScript, PostgreSQL, jQuery, React.js, Rea...",Associate,Software Engineer - Frontend,0.005179,3.202248e-02,0.500000,0.104143,0.114880,0.125618
7,23,"[HTML/CSS, JavaScript, PostgreSQL, Angular.js,...",Senior,Senior Software Engineer - Frontend,0.000000,1.469267e-02,0.414214,0.082843,0.088720,0.094597
10,31,"[Clojure, Go, Java, Python, Microsoft SQL Serv...",Senior,Development manager,0.185235,4.264316e-03,0.414214,0.231030,0.158642,0.086254
12,33,"[C#, Java, JavaScript, Objective-C, SQL, Swift...",Senior,Support Engineer,0.110465,2.220446e-16,0.414214,0.171215,0.127029,0.082843

In [1448]:
df_roles[['id','skills', 'explevel','score-model1', 'score-model2', 'score-model3']]

,id,skills,explevel,score-model1,score-model2,score-model3
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,0.779986,0.889993,1.000000
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,1.000000,0.982388,0.964775
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,0.659203,0.618761,0.578319
1,12,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Associate,0.451810,0.436332,0.420854
3,14,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Senior,0.415491,0.394881,0.374271
15,41,"[C#, PowerShell, Python, SQL, Cassandra, Maria...",Associate,0.474206,0.397830,0.321454
0,11,"[Bash/Shell, PowerShell, Python, R, SQL, Micro...",Senior,0.482382,0.393114,0.303847
16,42,"[Kotlin, Python, R, SQL, Cassandra, Elasticsea...",Associate,0.374801,0.316624,0.258447
2,13,"[HTML/CSS, JavaScript, Python, SQL, MySQL, Pos...",Associate,0.313164,0.279420,0.245676
5,21,"[C#, Kotlin, Python, SQL, PostgreSQL, .NET, Ap...",Associate,0.321483,0.275223,0.228962
4,15,"[Python, R, Scala, SQL, MongoDB, MySQL, AWS, G...",Senior,0.344226,0.259118,0.174009
9,25,"[C#, Java, JavaScript, Kotlin, Python, Rust, S...",Architect,0.247942,0.201044,0.154145
8,24,"[C#, Kotlin, Python, Rust, Microsoft SQL Serve...",Senior,0.359672,0.250287,0.140901
13,34,"[C#, HTML/CSS, Java, SQL, Microsoft SQL Server...",Junior,0.361075,0.304322,0.247568
14,35,"[C, C++, Go, Java, JavaScript, Kotlin, SQL, Sw...",Senior,0.199290,0.158516,0.117742
11,32,"[Java, JavaScript, Objective-C, SQL, Swift, VB...",Senior,0.192336,0.153017,0.113699
6,22,"[JavaScript, PostgreSQL, jQuery, React.js, Rea...",Associate,0.104143,0.114880,0.125618
7,23,"[HTML/CSS, JavaScript, PostgreSQL, Angular.js,...",Senior,0.082843,0.088720,0.094597
10,31,"[Clojure, Go, Java, Python, Microsoft SQL Serv...",Senior,0.231030,0.158642,0.086254
12,33,"[C#, Java, JavaScript, Objective-C, SQL, Swift...",Senior,0.171215,0.127029,0.082843

# Add Columns for Ordered List

In [1449]:
# Rank similarities
df_roles['rank-model1'] = df_roles['score-model1'].rank(ascending=False)
df_roles['rank-model2'] = df_roles['score-model2'].rank(ascending=False)
df_roles['rank-model3'] = df_roles['score-model3'].rank(ascending=False)

# Select only required columns
df_roles = df_roles[['id','skills', 'explevel','name','rank-model1', 'rank-model2', 'rank-model3']]
df_roles

,id,skills,explevel,name,rank-model1,rank-model2,rank-model3
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer,2.0,2.0,1.0
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer,1.0,1.0,2.0
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer,3.0,3.0,3.0
1,12,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Associate,DevOps Engineer,6.0,4.0,4.0
3,14,"[Bash/Shell, PowerShell, SQL, Microsoft SQL Se...",Senior,Database Administrator,7.0,6.0,5.0
15,41,"[C#, PowerShell, Python, SQL, Cassandra, Maria...",Associate,Data engineer,5.0,5.0,6.0
0,11,"[Bash/Shell, PowerShell, Python, R, SQL, Micro...",Senior,Data Engineer,4.0,7.0,7.0
16,42,"[Kotlin, Python, R, SQL, Cassandra, Elasticsea...",Associate,Data scientist,8.0,8.0,8.0
2,13,"[HTML/CSS, JavaScript, Python, SQL, MySQL, Pos...",Associate,Full Stack Developer,13.0,10.0,10.0
5,21,"[C#, Kotlin, Python, SQL, PostgreSQL, .NET, Ap...",Associate,Software Engineer,12.0,11.0,11.0
4,15,"[Python, R, Scala, SQL, MongoDB, MySQL, AWS, G...",Senior,Data Scientist,11.0,12.0,12.0
9,25,"[C#, Java, JavaScript, Kotlin, Python, Rust, S...",Architect,Software Architect,14.0,14.0,13.0
8,24,"[C#, Kotlin, Python, Rust, Microsoft SQL Serve...",Senior,Senior Software Engineer,10.0,13.0,14.0
13,34,"[C#, HTML/CSS, Java, SQL, Microsoft SQL Server...",Junior,Support Engineer,9.0,9.0,9.0
14,35,"[C, C++, Go, Java, JavaScript, Kotlin, SQL, Sw...",Senior,Senior Developer,16.0,16.0,16.0
11,32,"[Java, JavaScript, Objective-C, SQL, Swift, VB...",Senior,Support Team Manager,17.0,17.0,17.0
6,22,"[JavaScript, PostgreSQL, jQuery, React.js, Rea...",Associate,Software Engineer - Frontend,19.0,19.0,15.0
7,23,"[HTML/CSS, JavaScript, PostgreSQL, Angular.js,...",Senior,Senior Software Engineer - Frontend,20.0,20.0,18.0
10,31,"[Clojure, Go, Java, Python, Microsoft SQL Serv...",Senior,Development manager,15.0,15.0,19.0
12,33,"[C#, Java, JavaScript, Objective-C, SQL, Swift...",Senior,Support Engineer,18.0,18.0,20.0

In [1450]:
# Get only top 3 from each model
df_roles = df_roles[(df_roles['rank-model1']<4) | (df_roles['rank-model2']<4) | (df_roles['rank-model3']<4)]
df_roles

,id,skills,explevel,name,rank-model1,rank-model2,rank-model3
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer,2.0,2.0,1.0
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer,1.0,1.0,2.0
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer,3.0,3.0,3.0

# Export Results

In [1436]:
# Save results in a CSV file
df_roles.to_csv(f"../6-results/rating_ITProfessional_{person_id}.csv")
df_roles

,id,skills,explevel,name,rank-model1,rank-model2,rank-model3
19,45,"[PowerShell, SQL, Microsoft SQL Server, Micros...",Junior,Junior Power BI Developer,2.0,2.0,1.0
18,44,"[Python, SQL, Microsoft SQL Server, Microsoft ...",Junior,Junior Data engineer,1.0,1.0,2.0
17,43,"[SQL, Cassandra, Microsoft SQL Server, Oracle,...",Associate,Power BI Developer,3.0,3.0,3.0