# Word2Vec Word Embedding using skills from Job postings and Developers' Profiles

The model is trained using the Word2Vec word embedding technique.

The word embedding is built based on a data combination from job postings (Skill2vec dataset) and people's skills (Stack Overflow Developer Survey).

The created model is saved to a file for later loading.

## Import Libraries

In [21]:
import pandas as pd
from gensim.models import Word2Vec
import numpy as np

# Load Roles Dataset

In [27]:
# Read the Skill2Vec dataset with skills requirements to roles
df_roles = pd.read_csv(filepath_or_buffer="../2-data/allroles.csv", sep=",", encoding="latin1")
df_roles = df_roles[['id', 'skills']]
df_roles

           id                                             skills
0      125720  HR Executive;screening;selection;Interview;HR;...
1      112708  Special Teacher;Teaching;Education;;;;;;;;;;;;...
2      115226  consulting;fresher;IT helpdesk;Techincal Troub...
3       19805  diploma;machining;cnc m;mould;conventional mac...
4       80208  Compensation;Benefits;HR Functions;Alm;Payroll...
...       ...                                                ...
49995   27374  Chief Engineer;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
49996   88457  Receptionist Activities;Front Desk;front offic...
49997   34590  SQL Queries;Log Analysis;Hardware Networking;P...
49998   86171  Quality Analyst;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
49999  122890  PY;Payroll;OM;SAP HCM;PA;Organizational Manage...

[50000 rows x 2 columns]

In [28]:
# Get list of all skills available to be selected - Source: Stack Overflow Survey questions
#df_skills = pd.read_csv(filepath_or_buffer="../data/skill-list.csv", sep=",", encoding="latin1")


#df_roles = df_roles.sample(1000) # get sample


# Get only positions with skills that are mapped
#skills = df_skills['skill']

# Account for synonyms
#synonym_skill = df_skills['synonym']
#def find_index(arr, val):
#    for i in range(len(arr)):
#        if arr[i] == val:
#            return i
#    return -1

#count = 0
#for skill in skills:
#    count = count + df_roles["skills"].apply(lambda x: 1 if skill.lower() in [item.lower() for item in x.split(';')] or synonym_skill[find_index(skills, skill)] in [item.lower() for item in x.split(';')] else 0)
#    df_roles['KeepRow'] = count

# Get only roles that have mapped skills
#df_roles = df_roles.loc[(df_roles['KeepRow'] > 0)]

# Tokenize the skills
#df_roles['skills'] = df_roles['skills'].apply(lambda x: x.split(';'))

# Get only required columns
#df_roles = df_roles[["id", "skills"]]
#df_roles

# Load Employees Dataset

In [29]:
df_people = pd.read_csv(filepath_or_buffer="../2-data/employees.csv", sep=",", encoding="latin1")
df_people = df_people[['id', 'skills']]
df_people

          id                                             skills
0          2                              JavaScript;TypeScript
1          3  C#;C++;HTML/CSS;JavaScript;Python;Microsoft SQ...
2          4  C#;JavaScript;SQL;TypeScript;Microsoft SQL Ser...
3          5  C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript;Cl...
4          6                               C++;Lua;;;;;Homebrew
...      ...                                                ...
70949  73264  Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...
70950  73265  Bash/Shell;HTML/CSS;JavaScript;Python;SQL;Elas...
70951  73266  HTML/CSS;JavaScript;PHP;Python;SQL;MariaDB;Mic...
70952  73267  C#;Delphi;VBA;Microsoft SQL Server;MongoDB;Oracle
70953  73268  C#;JavaScript;Lua;PowerShell;SQL;TypeScript;Mi...

[70954 rows x 2 columns]

# Combine both Datasets

In [30]:
df_combined = pd.concat([df_people, df_roles])
df_combined

           id                                             skills
0           2                              JavaScript;TypeScript
1           3  C#;C++;HTML/CSS;JavaScript;Python;Microsoft SQ...
2           4  C#;JavaScript;SQL;TypeScript;Microsoft SQL Ser...
3           5  C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript;Cl...
4           6                               C++;Lua;;;;;Homebrew
...       ...                                                ...
49995   27374  Chief Engineer;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
49996   88457  Receptionist Activities;Front Desk;front offic...
49997   34590  SQL Queries;Log Analysis;Hardware Networking;P...
49998   86171  Quality Analyst;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
49999  122890  PY;Payroll;OM;SAP HCM;PA;Organizational Manage...

[120954 rows x 2 columns]

In [31]:
df_combined['skills'] = df_combined['skills'].apply(lambda x: x.split(';'))
df_combined

           id                                             skills
0           2                           [JavaScript, TypeScript]
1           3  [C#, C++, HTML/CSS, JavaScript, Python, Micros...
2           4  [C#, JavaScript, SQL, TypeScript, Microsoft SQ...
3           5  [C#, HTML/CSS, JavaScript, SQL, Swift, TypeScr...
4           6                       [C++, Lua, , , , , Homebrew]
...       ...                                                ...
49995   27374  [Chief Engineer, , , , , , , , , , , , , , , ,...
49996   88457  [Receptionist Activities, Front Desk, front of...
49997   34590  [SQL Queries, Log Analysis, Hardware Networkin...
49998   86171  [Quality Analyst, , , , , , , , , , , , , , , ...
49999  122890  [PY, Payroll, OM, SAP HCM, PA, Organizational ...

[120954 rows x 2 columns]

# Word Embedding relating skills that are seen together

## Word Embedding for Skills

In [32]:

#df_combined = df_combined.sample(100)

# Train the Word2Vec model
sentences = df_combined['skills'].tolist()
model = Word2Vec(sentences, min_count=1, vector_size=300, window=300, sg=1)

In [33]:
model.save("model-w2vcombined")

In [4]:
model = Word2Vec.load("model-w2vcombined")

# Check Word Embedding

In [35]:
model.wv.wmdistance(['SQL'], ['Python', 'SQL'])

0.44655027323978447